@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
body {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}

.form {
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;

}
.card {
    width: 60vw;
    box-shadow: 3px 3px 40px darkgrey;
    align-items:center;
    border-radius: 10px;
}
input {
 font-family: 'Rambla';
 padding: 1rem;
 margin: 1rem;
 border-radius: 10px;
 text-align: center;
}
.calc {
    width: 100%;
    justify-content:center;
    margin: 1.8rem;
    padding: 1.2rem;
    background-color: #ccccccce;
    color:rgb(255, 51, 0);
    text-shadow: 1px 2px 3px darkgrey;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.calc:hover {
    border: 3px solid darkgrey;
}
.info {
    padding: 1.2rem;
    background-color: #ccccccce;
    color:rgb(255, 51, 0);
    text-shadow: 1px 2px 3px darkgrey;
    border-radius: 10px;
    font-weight: bold;

}
li {
    list-style: none;
    color: rgb(92, 87, 87);
    font-size: 1rem;
    text-align: center;
    
}